body {
  margin: 0;
  padding: 0;
}

.header {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-image: url('../images/about/undraw_creative_team_r90h.svg');
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  
  margin-bottom: 50px;
}

.header img {
  margin-top: 50px;
  height: 80%;
}

h1 {
  text-align: center;
}

section.products-section{
  background-color: #f5f5f5;
}

.products .title {
  margin: 50px auto 40px;
  text-align: center;
  font-size: 40pt;  
}

.products .subtitle {
  text-align: center;
}

.products .cards-container {
  margin-top: 50px;
}

.cards-container > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cards-container > div .card {
  width: 18rem;
  border: none;
  margin-bottom: 30px;
  background-color: #f5f5f5;
}

.cards-container > div .card h5, p {
  text-align: center;
}

/* section.about-section {
  background-color: #f5f5f5;
  margin-bottom: -18px;
  padding: 0;
}

.about-container .item {
  margin: 0 auto; 
  max-width: 800px;
}

.about-container .item h2 {
  border-bottom: 2px solid #000;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.about-container .item p {
  text-align: justify;
} */